<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MICRM_Mobile.MICRM_Mobile" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="MICRM_Mobile"></application>
  <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest>